<h1><%= @cocktail.name %></h1>

<% @cocktail.doses.each do |dose| %>
  <p>
    <%= dose.description %> | <%= dose.ingredient.name %> |
    <%= link_to '🗑', dose_path(dose), method: :delete %>
  </p>
<% end %>

<hr>

<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

<hr>

<%= link_to 'Add an ingredient with a dose', new_cocktail_dose_path(@cocktail) %>

<hr>

<%= link_to 'List of all cocktails', cocktails_path %>
